<ion-view view-title="Forgot password">
  <div class="modal-">
    <ion-content>
      <form class="gem-form" style="margin-top: 50px;">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <input type="email" ng-model="recoverData.email" placeholder="Email">
          </label>
          <label class="item">
            <button class="button button-block button-positive " type="button" ng-click="tryForgot()">Forgot password</button>
          </label>
        </div>
      </form>
    </ion-content>
  </div>
</ion-view>

