<ion-view view-title="Home">
  <ion-content ng-class="{expanded:isExpanded}" class="has-header gem-ion-content feed">
    <div class="cate-lv1">
      <div class="cate-lv1-list item card-item item-background cate-lv1-item" ng-repeat="product in productList" ui-sref="app.details({ productId: product.id })"
           style="background: url({{imageUrl}}{{product.image}}) no-repeat; background-size: cover;">
        <div class="list card item-wrapper">
          <h2 ng-bind-html="product.name"></h2>
          <p style="text-align: center; width: 100%;">{{product.duration | stripStrong}}</p>
          <!--<p style="font-size: 16px;margin-top: 10px;">{{product.priceCap}}</p>-->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
