<ion-view view-title="Membership Fee">
  <ion-content>
    <div class="list animate-fade-slide-in-right- profile-page">
      <div ng-if="amcData && amcData !== null" style="margin:0px;" class="profile-detail-table">        
        <div ng-if="amcData && amcData !== null">
          <div style="text-align: center;color: black;margin: 20px;" ng-if="amcData && amcData !== null">
            <div ng-if="amcData && amcData !== null">
              <span ng-if="amcData && amcData !== null">
                <h3 style="color: #F50B2B;" ng-if="amcData.drTtotal && amcData.drTtotal !== null">
                  INR {{amcData.drTtotal - amcData.crTtotal}}
                </h3>
                <span style="color: #F50B2B;" ng-if="amcData.drTtotal && amcData.drTtotal !== null">
                  Membership Fee Due
                  <br>
                </span>
                <br>
              </span>  
            </div>
            <div ng-if="amcData.crTtotal && amcData.crTtotal !== null" style="border-top: 1px solid #ccc;">
              <div style="margin: 5px;height: 25px;">
                <div style="float: left;text-align: right;width: 50%; padding-right: 20px;
                     ">INR {{amcData.crTtotal}}</div>
                <div style="float: left;text-align: left;width: 50%;padding-left: 20px;
                     border-left: 1px solid #333232;">Paid</div>
              </div>
              <div style="margin: 5px;height: 25px;">
                <div style="float: left;text-align: right;width: 50%; padding-right: 20px;
                     ">INR {{amcData.drTtotal}}</div>
                <div style="float: left;text-align: left;width: 50%;padding-left: 20px;
                     border-left: 1px solid #333232;">Total</div>
              </div>
            </div>
          </div>
        </div>

            <label class="item" ng-if="amcData.drTtotal && amcData.drTtotal - amcData.crTtotal > 0">
              <button class="button button-block button-positive " type="button" ng-click="payNow()">Pay Now</button>
            </label>
        <div ng-repeat="amc in amcData.amcDetails" style="">
          <span ng-if="amc.dr_amount && amc.dr_amount > 0">
            <div class="profile-separator-title" style="text-align: 1center;">
              <i class="ion-android-document"></i> {{amc.receipt_date}}
            </div> 
            <div class="item" style="padding-left: 5px;">
              <div class="item-head" style="font-size: 13px;">
                {{amc.pay_type}}
              </div>
              <div class="item-text" style="color: red">{{amc.dr_amount}}</div>
            </div>
          </span>
          <span ng-if="amc.cr_amout && amc.cr_amout > 0">
            <div class="profile-separator-title" style="text-align: 1center;">
              <i class="ion-android-document"></i> {{amc.receipt_date}}
            </div> 
            <div class="item" style="padding-left: 5px;">
              <div class="item-head" style="font-size: 13px;">
                {{amc.pay_type}}
              </div>
              <div class="item-text" style="color: green">{{amc.cr_amout}}</div>
            </div>
          </span>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>    
  </ion-content>
</ion-view>