<ion-view view-title="Make Payment">
  <div class="modal-">
    <ion-content>
      <form ng-submit="doSignup()" class="gem-form" style="margin-top: 10px;">
        <div class="list">
          <label class="item item-input">
            <input type="text" ng-model="signupData.membershipId" placeholder="Membership Id">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="signupData.name" placeholder="Name">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="signupData.email" placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="number" ng-model="signupData.phone" placeholder="Phone" maxlength="10">
          </label>
          <label class="item item-input">
            <select ng-model="signupData.paymentType">
              <option value="">Payment Type</option>
              <option value="Membership Fee">Membership Fee</option>
              <option value="Utility Charges">Utility Charges</option>
              <option value="Holidays">Holidays</option>
              <option value="AMC">AMC</option>
            </select>
          </label>
          <label class="item item-input item-stacked-label">
            <input type="text" ng-model="signupData.address" placeholder="Address"/>
          </label>
          <label class="item item-input item-stacked-label">
            <input type="text" ng-model="signupData.state" placeholder="State"/>
          </label>
          <label class="item item-input item-stacked-label">
            <input type="text" ng-model="signupData.city" placeholder="City"/>
          </label>
          <label class="item item-input item-stacked-label">
            <input type="number" ng-model="signupData.pinCode" placeholder="Pin Code"/>
          </label>
          <label class="item item-input item-stacked-label">
            <input type="number" ng-model="signupData.amount" placeholder="Amount"/>
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Pay Now</button>
          </label>
        </div>
      </form>
      <div class="page-bottom"></div>
    </ion-content>
  </div>
</ion-view>

