<?xml version='1.0' encoding='utf-8'?>
<widget id="com.travel.kk" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Country Holiday</name>
    <description>
    Country Holidays Inn and Suites Travel Booking Mobile App
  </description>
    <author email="kkchauhan019@gmail.com">
    Kapil Chauhan
  </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <icon src="resources/icon.png" />
    <splash src="resources/splash.png" />
    <allow-navigation href="http://10.0.21.112:8100" />
    <engine name="android" spec="^6.2.3" />
</widget>
