<ion-view view-title="Booking Success">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in has-header gem-ion-content feed">
    <div class="cate-lv1" style="text-align: center;">      
      <div style="margin-top: 40px">
        <i class="icon ion-checkmark" style="font-size: 124px; margin-top: 150px!important;"></i>       
      </div>
      <p>Your Booking has been received successfully. And your booking number is #{{bookingNumber}}</p>
      <p></p>
      <a ui-sref="app.home" style="color: #43AD92!important; text-decoration: none;"> Continue Booking </a>
    </div>    
  </ion-content>
</ion-view>