<ion-view view-title="Contact Us">
  <div class="modal-">
    <ion-content>
      <img src="http://www.countryholidaysinnsuites.com/images/contactus.png" style="width:100%"/>
      <form ng-submit="doSignup()" class="gem-form" style="margin-top: 10px;">
        <div class="list card cms-text" style="padding: 15px; margin: 15px;" ng-repeat="cms in cmsData">
          <div style="font-size: 18px; padding-bottom: 20px;" ng-bind-html="cms.tlb_cms_title" ng-if='cms.tlb_cms_title && cms.tlb_cms_title != null'></div>
          <div ng-bind-html="cms.tlb_cms_text | stripStrong" ng-if='cms.tlb_cms_text && cms.tlb_cms_text != null'></div>
        </div>
        <div class="list">
          <h3 class="item item-input" style="font-size: 16px;">
            Get in Touch
          </h3>
          <label class="item item-input">
            <input type="text" ng-model="signupData.name" placeholder="Name">
          </label>
          <label class="item item-input">
            <input type="email" ng-model="signupData.email" placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="number" ng-model="signupData.phone" placeholder="Phone" maxlength="10">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="signupData.subject" placeholder="Subject">
          </label>
          <label class="item item-input">
            <textarea type="text" ng-model="signupData.message" placeholder="Message"></textarea>
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Submit</button>
          </label>
        </div>
      </form>
      <div class="page-bottom"></div>
    </ion-content>
  </div>
</ion-view>

