<ion-view view-title="Member Login">
  <div class="modal-">
    <ion-header-bar>
      <h1 class="title">Member Login</h1>
      <!--<div class="buttons">-->
      <!--<button class="button button-clear" ng-click="closeModal()"><i class="icon ion-close-circled"></i></button>-->
      <!--</div>-->
    </ion-header-bar>
    <ion-content>
      <form class="gem-form" style="margin-top: 50px;">
        <div class="list">
          <label class="item item-input">
            <!--<span class="input-label">Username</span>-->
            <input type="email" ng-model="formData.email" placeholder="Email">
          </label>
          <label class="item item-input">
            <!--<span class="input-label">Password</span>-->
            <input type="password" ng-model="formData.password" placeholder="Password">
          </label>
          <label class="item">
            <button class="button button-block button-positive " type="button" ng-click="doLogin()">LOGIN</button>
          </label>
        </div>
      </form>
    </ion-content>
  </div>
</ion-view>

