<ion-view title="View Details">
  <ion-content class="gem-ion-content single-post">
    <div class="row-slider">
      <div class="col-slider">
        <ion-slide-box auto-play="true" does-continue="true" slide-interval="5000">
          <ion-slide ng-repeat="image in product.images">
            <div class="list card">
              <div class="item item-image">
                <a href="#" style="background-color: #ccc;">
                  <img class="slider-image fluid-image" onerror="this.src=''" on-finish="onFinishRemoteSecond" on-start="onStartRemoteSecond" on-progress="onProgressRemoteSecond" cache-src="{{imageUrl}}{{image}}" src="{{imageUrl}}{{image}}" style="height: 140px; background-color: #ccc;">
                  <div class="isicontent">
                  </div>
                </a>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    <div class="list- animate-fade-slide-in-right-">
      <div class="item">
        <h2>{{product.name}}</h2>
        <p>{{product.duration}}</p>
        <h3 class="post-title" ng-bind-html="product.location | stripStrong">   </h3>
      </div>
    </div>
    <!-- Post Content -->
    <div class="gem-post-content">
      <div class="product-descriptions" ng-bind-html="product.description | stripStrong"></div>
    </div>
    <div class="list animate-fade-slide-in-right padding-bottom-100">
      <input type="radio" name="day" value="sun" style="display: none;">
      <div class="list gem-list">
        <div class="tabs tabs-top tab-day-selection" style="top:0px">
          <a class="tab-item">
            <div class="tab-item" ng-class="{'active':activeTab == 'location'}" ng-click="selectTab('location')">
              <div class="schedule-day-">Location</div>
            </div>
          </a>
          <a class="tab-item">
            <div class="tab-item"  ng-class="{'active':activeTab == 'aminities'}" ng-click="selectTab('aminities')">
              <div class="schedule-day-">Aminities</div>
            </div>
          </a>
        </div>
        <div style="clear: both; margin-top: 70px">
          <div class="product-descriptions tab-content" ng-class="{'tab-show':activeTab == 'location'}" ng-bind-html="product.phighlight | stripStrong"></div>
          <div class="product-descriptions tab-content" ng-class="{'tab-show':activeTab == 'aminities'}" ng-bind-html="product.aminities | stripStrong"></div>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
