<ion-view title="View Details">
  <ion-content class="gem-ion-content single-post">
    <div class="row-slider">
      <div class="col-slider">
        <div class="list card-" ng-if='!product.images' style=" background-color: #ccc; height: 160px;">
          <div class="item item-image" style="background-color: #ccc; background: url({{imageUrl}}{{product.tlb_image}}) no-repeat; height: 150px; background-size: cover;" on-finish="onFinishRemoteSecond" on-start="onStartRemoteSecond" on-progress="onProgressRemoteSecond">
            <div class="isicontent" style="text-align: center;margin-top: 60px; font-size: 24px; color: #DED7D7; opacity: 0.4">
              Country Holidays Inn & Suites
            </div>
          </div>
        </div>
        <ion-slide-box auto-play="true" ng-if='product.images' does-continue="true" slide-interval="5000" style="height: 150px;">
          <ion-slide ng-repeat="image in product.images">
            <div class="list card-" style=" background-color: #ccc; height: 160px;">
              <div class="item item-image" style="background-color: #ccc; background: url({{imageUrl}}{{image}}) no-repeat; height: 150px; background-size: cover;" on-finish="onFinishRemoteSecond" on-start="onStartRemoteSecond" on-progress="onProgressRemoteSecond">
                <div class="isicontent" style="text-align: center;margin-top: 60px; font-size: 24px; color: #DED7D7; opacity: 0.4">
                  Country Holidays Inn & Suites
                </div>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    <div class="list- animate-fade-slide-in-right-">
      <div class="item">
        <h2>{{product.name}}</h2>
        <p>{{product.duration}}</p>
        <h3 class="post-title" ng-bind-html="product.location | stripStrong">   </h3>
      </div>
    </div>
    <!-- Post Content -->
    <div class="gem-post-content">
      <div class="product-descriptions" ng-bind-html="product.description | stripStrong"></div>
    </div>
    <div class="list animate-fade-slide-in-right padding-bottom-100">
      <input type="radio" name="day" value="sun" style="display: none;">
      <div class="list gem-list">
        <div class="tabs tabs-top tab-day-selection" style="top:0px">
          <a class="tab-item">
            <div class="tab-item" ng-class="{'active':activeTab == 'location'}" ng-click="selectTab('location')">
              <div class="schedule-day-">Location</div>
            </div>
          </a>
          <a class="tab-item">
            <div class="tab-item"  ng-class="{'active':activeTab == 'aminities'}" ng-click="selectTab('aminities')">
              <div class="schedule-day-">Aminities</div>
            </div>
          </a>
        </div>
        <div style="clear: both; margin-top: 70px">
          <div class="product-descriptions tab-content product-descriptions2" ng-class="{'tab-show':activeTab == 'location'}" ng-bind-html="product.phighlight | stripStrong"></div>
          <div class="product-descriptions tab-content product-descriptions2" ng-class="{'tab-show':activeTab == 'aminities'}" ng-bind-html="product.aminities | stripStrong"></div>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
